header {
  width: 100%;
  padding: 28px 8%;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar__logo {
  font-size: 24px;
  color: #e9a209;
}

#navbar__list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item a {
  text-decoration: none;
  color: #1d1d1dad;
  font-weight: 600;
}

.nav-item.active a {
  color: #1d1d1d;
  border-bottom: 3px solid #ffe100;
}

#mobile__btn {
  display: none;
}

#mobile__menu {
  display: none;
}

@media screen and (max-width: 1170px) {
  #navbar__list,
  #navbar .btn-default {
    display: none;
  }

  #mobile__btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile__menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile-navbar__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0;
  }

  #mobile-navbar__list .nav-item {
    list-style: none;
    text-align: center;
  }
}
