#home {
  display: flex;
  min-height: calc(100vh - 91px);
  position: relative;
}

#cta {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5%;
}

#cta .title {
  font-size: 4rem;
  color: var(--color-neutral-1);
}

#cta .title span {
  color: var(--color-primary-6);
}

#cta .description {
  font-size: 1.2rem;
}

#cta__buttons {
  display: flex;
  gap: 24px;
  white-space: nowrap;
}

#cta__buttons a {
  text-emphasis: none;
  color: var(--color-neutral-1);
  text-decoration: none;
}

#phone_button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #ffffff;
  padding: 8px 14px;
  font-weight: 500;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#phone_button button {
  box-shadow: none;
}

#banner {
  width: 100%;
  display: flex;
  justify-content: center; /* CENTRALIZA */
  align-items: center; /* ALINHA VERTICAL */
  position: relative;
  z-index: 2;
}

#banner img {
  width: 550px;  
  height: auto;
  margin-left: 130px;
}

.shape {
  background-color: var(--color-primary-2);
  width: 650px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%); /* ajuste fino do posicionamento */
  border-radius: 40% 30% 0 20%;
  z-index: 1;
}

@media screen and (max-width: 1170px) {
  #home {
    min-height: 100%;
    padding-top: 0px;
  }

  #banner,
  #banner img,
  #home .shape {
    display: none;
  }

  #cta {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  #phone_button button {
    display: none;
  }
}
